/* MOUSE */

.cursor {
  background-color: black;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.laggedCursor {
  background-color: rgb(231, 216, 208);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9997;
  /* transition: transform 0.4s ease; */
}

/* CONTAINER */

.container {
  display: flex;
  height: 95vh;
}

/* NAVBAR */

.NavBar2 {
  display: none;
}

#menu {
  display: none;
}

.NavBar {
  position: fixed;
  bottom: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 95vh;
  z-index: 9998;
}

.NavBar img {
  width: 100px;
  margin-top: 10px;
}

.NavBar h5 {
  margin: 0 auto;
  position: relative;
  padding-bottom: 0.3rem;
  transition: 0.5s;
}

.NavBar a {
  text-decoration: none;
  color: black;
  cursor: none;
}

.NavBar h5::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgb(231, 216, 208);
  transition: width 0.25s ease-in-out;
}

.NavBar h5:hover::before {
  width: 100%;
}

.NavBar h5:hover {
  color: rgb(231, 216, 208);
  transform: translateX(7px);
}

.home {
  padding-bottom: 5px;
}

/* HOME PAGE */
.img-container {
  margin-left: 250px;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  width: auto;
  height: 100%
}

.image {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: opacity 1s ease;
  height: 100%;
  object-fit: cover;
}

.active {
  opacity: 1;
  position: absolute;
  width: 100%;
  transition: opacity 1s ease;
  height: 100%;
  object-fit: cover;
}

/* PROJECTS MAIN*/
.Projects {
  margin-left: 250px;
  width: 100%;
  overflow: hidden;
}

.projects-container {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 8px;
}

.projects-container a {
  overflow: hidden;
  color: black;
  cursor: none;
}

.projects-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-container h2 {
  color: #2e2e2e;
}

.p1 {
  overflow: hidden;
  position: relative;

}

.p1Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;

}

.p1:hover .p1Info {
  right: 0
}

.p2 {
  overflow: hidden;
  position: relative;
}

.p2Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p2:hover .p2Info {
  right: 0
}

.p3 {
  overflow: hidden;
  position: relative;
}

.p3Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p3:hover .p3Info {
  right: 0
}

.p4 {
  overflow: hidden;
  position: relative;
}

.p4Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p4:hover .p4Info {
  right: 0
}

.p5 {
  overflow: hidden;
  position: relative;
}

.p5Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p5:hover .p5Info {
  right: 0
}

.p6 {
  overflow: hidden;
  position: relative;
}

.p6Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p6:hover .p6Info {
  right: 0
}

.p7 {
  overflow: hidden;
  position: relative;
}

.p7Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p7:hover .p7Info {
  right: 0
}

.p8 {
  overflow: hidden;
  position: relative;
}

.p8Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p8:hover .p8Info {
  right: 0
}

.p9 {
  overflow: hidden;
  position: relative;
}

.p9Info {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #ffffff71;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.p9:hover .p9Info {
  right: 0
}

/* PROJECTS SINGLE */
.singleProject {
  margin-left: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 70%;
  gap: 20px;
}

.wrapper img {
  width: 100%;
}

.wrapper button {
  background: none;
  border: none;
  font-size: 3em;
  opacity: 70%;
  cursor: none;
  transition: 0.5s;
}

.wrapper button:hover {
  color: rgb(231, 216, 208);
  transform: translateX(7px);
}


/* CURRICULUM */
.curriculum {
  margin-left: 250px;
  width: 100%;
  overflow: hidden;
  /* background-color: rgb(221, 204, 159, 0.3); */
  background-image: url("./images/Lebenslauf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(0%, -2%);
}

/* FOTOGRAPHY */
.Fotography {
  margin-left: 250px;
  width: 100%;
}

.fotos-container {
  box-sizing: border-box;
  padding-bottom: 2.5vh;
}

.fotos-container ul {
  list-style: none;
}

.gallery {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 8px;
}

.gallery li {
  height: 700px;
}

.gallery li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LOADING PAGE */

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.85);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 2s ease-in-out 4s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.loading-message {
  font-family: DMSerifDisplay, serif;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #3d3d3d;
  text-transform: uppercase;
}

/*//////////////////////MEDIA QUERIES////////////////////*/

@media screen and (max-width: 768px) {
  body {
    cursor: default;
  }
  .cursor {
    display: none;
  }
  .laggedCursor{
    display: none;
  }
  .projects-container a{
    cursor: pointer;
  }
  .wrapper button{
    cursor: pointer;
  }
  .NavBar {
    display: none;
  }

  .img-container {
    margin-left: 2.5vh;
    margin-top: 7.5vh;
  }

  .Projects {
    margin-left: 2.5vh;
    margin-top: 7.5vh;
  }
  .singleProject {
    margin-left: 2.5vh;
    margin-top: 7.5vh;
  }
  .curriculum {
    margin-left: 2.5vh;
    margin-top: 7.5vh;
  }
  .Fotography {
    margin-left: 2.5vh;
    margin-top: 7.5vh;
  
  }
  .NavBar2 {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9995;
    background-color: white;
  }

  .NavBar2 img {
    width: 100px;
    margin-top: 10px;
    margin-left: 2.5vh;
  }

  #menuToggle {
    margin-right: 2.5vh;
    display: block;
    position: relative;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;
  }

  #menuToggle li {
    transition: color 0.3s ease;
  }

  #menuToggle li:hover {
    color: rgb(231, 216, 208);
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin-top: 6px;
    position: relative;

    background: #000000;
    border-radius: 3px;
  }

  #menuToggle .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  #menuToggle .line2 {
    transition: transform 0.2s ease-in-out;
  }

  #menuToggle .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  #menuToggle input:checked~.line1 {
    transform: rotate(45deg);
  }

  #menuToggle input:checked~.line2 {
    transform: scaleY(0);
  }

  #menuToggle input:checked~.line3 {
    transform: rotate(-45deg);
  }

  #menu {
    position: fixed;
    right: 50%;
    left: 50%;
    transform: translate(-50%);

    top: -200px;
    /* Start with the menu off-screen to the right */
    width: 100%;

    transition: top 0.3s ease-out;
    /* Add a transition to the right property */
    z-index: 9995;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 25px 0;
  }

  #menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  #menu h5 {
    transition: 0.5s ease-in-out;
    padding-bottom: 0.3rem;
  }

  /* #menu h5::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgb(231, 216, 208);
    transition: width 0.25s ease-in-out;
  }

  #menu h5:hover::before {
    width: 100%;
  }

  #menu h5:hover {
    color: rgb(231, 216, 208);
    transform: translateX(7px);
  } */

  #menuToggle input:checked~#menu {
    top: 10%;
  }
  
}

@media screen and (max-width: 500px) {
.p1Info {
    font-size: 12px;
  }
  .p2Info {
    font-size: 12px;
  }
  .p3Info {
    font-size: 12px;
  }
  .p4Info {
    font-size: 12px;
  }
  .p5Info {
    font-size: 12px;
  }
  .p6Info {
    font-size: 12px;
  }
  .p7Info {
    font-size: 12px;
  }
  .p8Info {
    font-size: 12px;
  }
  .p9Info {
    font-size: 12px;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}