/* CONTAINER */

.container {
  display: flex;
  height: 95vh;
  margin-right: 2.5vw;
}

/* NAVBAR */

.NavBar {
  position:fixed;
  bottom: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 95vh;

}

.NavBar img {
  width: 100px;
  margin-top: 10px;
}

.NavBar h5 {
  margin: 0 auto;
  position: relative;
  padding-bottom: 0.3rem;
  transition: 0.5s;
}
.NavBar a {
  text-decoration: none;
  color: black;
  cursor: none;
}
.NavBar h5::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgb(231, 216, 208);
  transition: width  0.25s ease-in-out;
}
.NavBar h5:hover::before {
  width: 100%;

}
.NavBar h5:hover {
  color: rgb(231, 216, 208);
  transform: translateX(7px);
}

.home {
  padding-bottom: 5px;
}

/* MOUSE */

.cursor {
  background-color: black;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.laggedCursor {
  background-color: rgb(231, 216, 208);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  /* transition: transform 0.4s ease; */

}

.img-container {
  margin-left: 250px;
  width: 100%;
  background-image: url("./images/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.curriculum {
  margin-left: 250px;
  width: 100%;
  background-color: rgb(221, 204, 159,0.3);
  
  background-size: cover;
  background-repeat: no-repeat;
}